#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=
PRIVATE_KEY=
#RPCs
RPC_URL_SEPOLIA=
RPC_URL_HOLESKY=
# Fireblocks API key and private key path
FIREBLOCKS_API_KEY=
FIREBLOCKS_API_PRIVATE_KEY_PATH=
# Fireblocks Priviledged Vault Accounts
ADAPTER_DEFAULT_ADMIN_ADDRESS=
ADAPTER_DELEGATE_ADDRESS=
